# Ignore Virtual Environment
venv/
.env
__pycache__/

# Ignore Datasets (Too large for Git)
data/
datasets/
*.zip

# Ignore Model Weights (Too large for Git - Share these via Drive)
models/**/*.pt
models/**/*.pth
runs/

# Ignore IDE settings
.vscode/
.idea/